body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  margin: 24px auto;
  border: #fff 8px solid;
  background: #e3f4ff;
}

.title {
  padding: 8px;
  font-size: 16px;
  font-weight: 1000;
  margin: 0;
  border-bottom: #fff 8px solid;
}

.content {
  border-bottom: #fff 8px solid;
  padding: 16px 8px;
}

.button-container {
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 0;
  display: block;
  margin: auto;
  padding: 8px 20px;
}